.accounts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.account-card {
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  width: 50%;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards mat-card {
  flex: 1 1 250px;
  min-height: 100px;
}
